html, body {
  margin: 0px;
  padding: 0px;
  height: 100% !important;
}

#app, .el-container, .container {
  height: 100% !important;
}

.el-menu-item-group__title {
  color: white !important;
  font-size: 14px;
  background: rgb(7, 71, 200);
}
