html, body {
  margin: 0px;
  padding: 0px;
  height: 100% !important;
}

#app, .el-container, .container {
  height: 100% !important;
}

.el-menu-item-group__title {
  color: white !important;
  font-size: 14px;
  background: rgb(7, 1, 180);
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

body > .el-container {
  margin-bottom: 40px;
}
.el-side-menu ul {
  background: rgb(7, 71, 166);
}

.el-header {
  background: rgb(7, 71, 166);
  color: white;
}
